--index-url="https://artifactory.oci.oraclecorp.com/api/pypi/global-release-pypi/simple"
--extra-index-url="https://artifactory.oci.oraclecorp.com/api/pypi/ocas-service-platform-dev-pypi-local/simple/"
--trusted-host="artifactory.oci.oraclecorp.com"
loguru
gevent==21.12.0
locust==2.8.2
pytest
oci==2.28.0